<div class="day">
	<div class="days_devotions">
		<% letters = ('a'..'z').step %>
		<% if day.devotions.length > 1 %>
			<% day.devotions.each_with_index do |devotion, index| %>
				<%= render 'devotions/devotion', devotion: devotion, showing_day: true, letter: letters[index] %>
			<% end %>
		<% elsif day.devotions.length == 0 %>
			<%= simple_format('There are no devotions scheduled for today.') %>
		<% else %>
			<% day.devotions.each_with_index do |devotion, index| %>
				<%= render 'devotions/devotion', devotion: devotion, single: true, showing_day: true %>
			<% end %>
		<% end %>
	</div>
</div>
