<h2>About 40days</h2>

<div id="about_page">

  <p>40days is a series of daily reflections for the 40 days leading up to Easter (Feb. 22 - Apr. 8).  This year, the reflections are centered around "stones of remembrance" - reflections of when/how/where God has impacted people in the past ... even if only recognized years later.</p>

  <p>These are traditional devotionals, stories (fictional or not), thoughts, pictures, poems, paintings, songs, recipes, and who knows what else.  They are not written by "spiritual giants", and they're not just from people who are "artists", but rather ordinary people on a journey with God.</p>

</div>