<h5 class="leftPadded">About 40days</h5>

<div id="about_page">

  <p class="verse">These stones are to be a memorial to the people ... forever." (Joshua 4:7)</p>

  <p class="image">
    <a href="http://www.flickr.com/photos/stollerdos/143395735/" title="rock balancing by strollerdos, on Flickr">
      <img src="http://farm1.staticflickr.com/53/143395735_25085fcf47_z.jpg" alt="rock balancing" />
    </a>
  </p>

  <p>40days is a series of daily reflections for the 40 days leading up to Easter (Feb. 22 - Apr. 8).  This year, the reflections are centered around "stones of remembrance" - reflections of when/how/where God has impacted people in the past ... even if only recognized years later.</p>

  <p>These are traditional devotionals, stories (fictional or not), thoughts, pictures, poems, paintings, songs, recipes, and who knows what else.  They are not written by "spiritual giants", and they're not just from people who are "artists", but rather ordinary people on a journey with God.</p>

  <p><%= link_to 'Sign up to be a 40days contributor here', new_contributor_registration_path %></p>

</div>