<div id="subscription">
  <% @subscriber = Subscriber.new unless @subscriber %>
  <%= semantic_form_for @subscriber do |f| %>
    <h6>Subscribe to receive 40days reflections by email</h6>
    <%= f.inputs :email, :label => 'Email:' %>
    <%= f.submit 'subscribe' %>
  <% end %>
  <!--
  <div id="rss_subscription">
    <label>
      RSS:
    </label>
    <a href="/rss.xml">
      <img src="../../assets/images/rss.png" />
    </a>
  </div>
  -->
</div>
