<div id="subscription">
  <span>Subscribe to receive daily reflections by entering your email address:</span>
  <% @subscriber = Subscriber.new unless @subscriber %>
  <%= semantic_form_for @subscriber do |f| %>
    <%= f.inputs :email, :label => 'Email:' %>
    <%= f.submit 'Subscribe' %>
  <% end %>
</div>
