.day {
	background-color : #F7F7EB;
	font-size : 0.9em;
}

.day_header * {
	text-decoration : none;
}

div.day_header h4 a {
	padding-left : 15px;
}

.day_intro {
	clear : both;
	font-style : italic;
	padding : 10px;
	padding-left : 1em;
}
