.devotion {
	margin-bottom : 20px;
	font-size : 0.9em;
}
.day .devotion {
	font-size : 1em;
}
.devotion_header {
	color : #504237;
	background-color : #f7f7eb;
}

.devotion_author {
	text-align : right;
	border-bottom : 5px solid #b7f475;
	font-size : 1.5em;
}

.devotion_text_container {
	padding : 30px;
}
.devotion_verse {
	font-style : italic;
	margin-bottom : 30px;
}
.bio_label {
	font-weight : bold;
}
.devotion p {
	margin : 0px;
	margin-bottom : 15px;
}

.devotion_author_bio {
	background-color : #504237;
	padding : 15px 30px;
}
.devotion_author_bio * {
	color : #f7f7eb;
}
.bio_label {
	display: block;
}

/*
.devotion_author_bio.single {
	width : 100%;
	position : absolute;
	bottom : 0px; / * changed via js * /
}
*/

/**
 * For the editor
 */
.devotion strong,
.devotion b {
	font-weight : bold;
}
.devotion em,
.devotion i {
	font-style : italic;
}
.devotion sup {
	font-size : 0.7em;
	vertical-align : super;
}
.devotion sub {
	font-size : 0.7em;
	vertical-align : sub;
}
