#header {
	background-color : #504237;
	height : 25px;
	padding : 3px;
	padding-left : 17px;
	font-size : 0.9em;
}

#header a {
	color : #e0decf;
	text-decoration : none;
}
#header a:hover {
	color : #f7f7eb;
	text-decoration : underline;
}

#header li {
	float : left;
	padding : 5px;
	margin-left : 3px;
	margin-right : 3px;
}
