div#main_body,
div#content_container {
	float : left;
	width : 590px;
	background-color : #F7F7EB;
	position : relative;
}

#main_body h1,
#main_body h2,
#main_body h3,
#main_body h4,
#main_body h5,
#main_body h6 {
	background-color : white;
	padding : 10px;
	margin : 0px;
	font-family : "Georgia Bold", Georgia, serif !important;
}

div.notice,
div.alert,
#error_explanation {
	-moz-border-radius : 5px;
	-webkit-border-radius : 5px;
	border-radius : 5px;
	background: yellow url(information.png) no-repeat 10px 50%;
	padding : 15px;
	padding-left : 30px;
	margin : 5px;
}
div.alert,
#error_explanation {
	background : red url(exclamation.png) no-repeat 10px 50%;
}


/*********
 * For sign up errors
 *********/
#error_explanation h2 {
	font-size : 2em;
}

/*
 * Permalinks
 */
.permalink {
	text-decoration : none;
	font-size : 10pt;
	display : block;
	float : right;
}

/* About Page */

#about_page p {
	padding: 1em;
	margin-bottom: 20px;
}

#about_page strong {
	font-weight: bold;
}

#about_page p.verse {
	font-style: italic;
}

/* FAQ page */

div#faq_page {
	margin-bottom: 25px;
	padding : 1.25em;
}

#faq_page ol {
	list-style: decimal;
	padding-left : 1.5em;
}

#faq_page li {
	margin-bottom: 10px;
}

#faq_page li p {
	margin-bottom: 5px;
}

#faq_page li p:first-child {
	font-size: 15pt;
	margin-bottom: 10px;
}


/* contributor forms */
form.contributor {
	padding : 1em;
	padding-left : 1.5em;
}
#content_container h5.sign_in,
#content_container h5.sign_up {
	padding-left : 24px;
}
#content_container p.leftPadded {
	padding-left : 16px;
}
#content_container h5.leftPadded {
	padding-left : 26px;
}