div#main_body {
	width : 520px;
	float : left;
	min-height : 300px;
	overflow : hidden;
}
div#main_body,
div#content_container {
	background-color : #F7F7EB;
	position : relative;
}

#main_body h1,
#main_body h2,
#main_body h3,
#main_body h4,
#main_body h5,
#main_body h6 {
	background-color : white;
	padding : 10px;
	padding-left : 30px;
	margin : 0px;
	font-weight : bold;
	position : relative;
	font-size : 20pt;
}

div.notice,
div.alert,
#error_explanation {
	-moz-border-radius : 5px;
	-webkit-border-radius : 5px;
	border-radius : 5px;
	background: yellow url(information.png) no-repeat 10px 50%;
	padding : 15px;
	padding-left : 30px;
	margin : 5px;
}
div.alert,
#error_explanation {
	background : red url(exclamation.png) no-repeat 10px 50%;
}


/*********
 * For sign up errors
 *********/
#error_explanation h2 {
	font-size : 2em;
}

/*
 * Permalinks
 */
#main_body .permalink,
#main_body .permalink a {
	padding : 0px;
}

/* About Page */

#about_page p {
	margin: 1.25em;
}

#about_page strong {
	font-weight: bold;
}

#about_page p.verse {
	font-style: italic;
}

/* FAQ page */

div#faq_page {
	margin-bottom: 25px;
	padding : 1.25em;
}

#faq_page ol {
	list-style: decimal;
	padding-left : 1.5em;
}

#faq_page li {
	margin-bottom: 10px;
}

#faq_page li p {
	margin-bottom: 5px;
}

#faq_page li p:first-child {
	font-size: 15pt;
	margin-bottom: 10px;
}


/* contributor forms */
#content_container h5.sign_in,
#content_container h5.sign_up {
	padding-left : 24px;
}
#content_container p.leftPadded {
	padding-left : 16px;
}
#content_container h5.leftPadded {
	padding-left : 26px;
}

/* devotion index */
.devotion_index {
	padding : 25px;
	min-height : 400px;
}

/* forms */
#main_body.logged_in .formtastic input {
	width : 71%;
}
#main_body.not_logged_in .formtastic label {
	width : 37%;
}
#main_body.not_logged_in .formtastic ol.choices-group,
#main_body.not_logged_in .formtastic .select select,
#main_body.not_logged_in .formtastic .text textarea,
#main_body.not_logged_in .formtastic .stringish input {
	width : 61%;
}
#main_body.not_logged_in .formtastic ol.choices-group {
	padding-left : 38%;
}

/* rich editor */
html .cke_skin_kama {
	clear: both;
}

/* lists */
.devotion_text_container ul li,
.devotion_text_container ol li {
	list-style-type : disc;
	list-style-position : inside;
	padding-left: 1em;
	text-indent : -1em;
}
.devotion_text_container ul ul li,
.devotion_text_container ol ul li {
	list-style-type : circle;
}
.devotion_text_container ul ul ul li,
.devotion_text_container ul ol ul li,
.devotion_text_container ol ul ul li,
.devotion_text_container ol ol ul li {
	list-style-type : square;
}
.devotion_text_container ol li {
	list-style-type : decimal;
}
.devotion_text_container ul ol li,
.devotion_text_container ol ol li {
	list-style-type : upper-alpha;
}
.devotion_text_container ol ol ol li,
.devotion_text_container ol ul ol li,
.devotion_text_container ul ol ol li,
.devotion_text_container ul ul ol li {
	list-style-type : lower-roman;
}
.devotion_text_container ul>li:last-child,
.devotion_text_container ol>li:last-child {
	margin-bottom : 10px;
}

/*  fix some rich text editor weirdness */
.devotion_text_container ul>li>ul>ul>li {
	padding-left: 2em;
}
