/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/*
 * Obtained from the above address on 2012/01/24 by chad.burrus@gmail.com and
 * adapted as needed.
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/******************
 * Customizations
 ******************/
* {
	color : #504237;
	font-family: Georgia, serif !important;
}
body {
	background-color : #e0decf;
	font-size : 1.05em;
}
body>* {
	position : relative;
	margin : auto;
	width : 800px;
	height : 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-size : 4em;
	margin-top : 5px;
	margin-bottom : 5px;
}
h2 {
	font-size : 3.5em;
}
h3 {
	font-size : 3em;
}
h4 {
	font-size : 2.5em;
}
h5 {
	font-size : 2em;
}
h6 {
	font-size : 1.5em;
}
form.formtastic {
	margin : 1.5em;
}
p {
	margin : 10px;
}

img,
object {
	max-width : 100% !important;
}

.formtastic input[type=submit] {
	font-size : 0.8em;
}
