#sidebar {
	background-color : #f0eedf;
	float : right;
	width : 210px;
	bottom : 0px;
	top : 0px;
	right : 0px;
	font-size : 0.9em;
}

#logo_container img {
	margin-top : 11px;
	max-height : 60px;
}

#sidebar>div {
	margin : auto 10px;
	clear : both;
}

#sidebar #logo_container {
	margin-top : 20px;
}

#archives {
	min-height : 275px;
	padding : 10px;
}

#navigation {
	margin : auto;
	text-align : center;
	font-size : 1.2em;
	padding : 1em;
}

/* For navigation calendar */

#archives ul {
	clear : both;
}
ul#calendar_nav li {
	float : left;
	width : 24%;
	cursor: pointer;
	padding : 5px;
	text-align : center;
	font-size: 1.1em;
}

ul#calendar_nav li.selected {
	background-color : #f7f7eb;
}

ul.season_day_box {
	width: 168px;
	background-color : #f7f7eb;
}

ul.season_day_box li {
	float: left;
	width: 24px; /* 1/7 of the box */
	height: 24px;
	text-align: center;
}

ul.season_day_box a {
	text-decoration: none;
}

.hidden {
	display: none;
}

div.clear {
	clear: both;
}

#subscription {
	padding : 10px;
	font-size : 0.9em;
}

#subscription span {
	font-style : italic;
}

#subscription abbr {
	visibility : hidden;
}

#subscription .formtastic {
	margin : 1em 0px;
	position : relative;
}
#subscription .formtastic fieldset {
	width : 55%;
	float :left;
}
#subscription .formtastic label {
	display : none;
}
#subscription .formtastic .stringish input {
	width : 100%;
}

/* submit button */
#subscription .formtastic > input {
	display : block;
	float : right;
	margin-top : 2px;
}

#sidebar img {
	width : 85%;
	margin-left : 0.9em;
}
