<p>To the wonderful 40days contributor,</p>

<p>
	Thank you for volunteering to participate in the 40days experience this year!
	It's been a blast in past years, and I expect more of the same this year :)
	I'm really looking forward to hearing your "stone of remembrance"!
</p>

<p>
	Be sure to carefully read and save this message, so that you will have the
	instructions for using the system. Before you can get started, however, you'll
	need to confirm your Contributor account, which you can do at the link below.
	Don't forget to come back and re-read this email after confirming your
	account.
</p>

<p>
	<%= link_to 'Confirm my account',
		confirmation_url(
			@resource,
			:confirmation_token => @resource.confirmation_token
		)
	%>
</p>

<p>
	Let me explain a few things about how things will work this year:
</p>

<ol>
	<li>
		I'll email you the week before your reflection is set to go out, to ask
		you to create a reflection in the system. Generally speaking, I'd like to
		see these by Thursday of the week before your week (e.g., if you're going
		Mar. 26-31, I'd like your reflection by Thur., Mar. 22).
	</li>

	<li>
		<p>
			The web system is home-grown and brand spanking new, and, like any new
			product, it's going to have problems. So, be patient. As one big example
			right now: we're having difficulty with contributors uploading content
			using Internet Explorer (IE). (We know the problem; it's just going to
			take some time to fix it.) So, shy away from using IE right now. I'll try
			to let you know when the IE bugs are worked out.
		</p>
	</li>

	<li>
		How to actually create a reflection:
		<ol>
			<li>
				Log in &amp; click on "New Reflection" at the top.
			</li>
			<li>
				Enter your title, Bible info (be sure to include chapter, verse, &amp;
				the text itself), content, name, &amp; "about me". Note:
				<ol>
					<li>
						You aren't necessarily writing a Biblical exposition - we just
						simply want every piece to have an accompanying verse of the day.
					</li>
					<li>
						"About me" is optional, and while I encourage everyone to sign their
						piece, occasionally people prefer to be anonymous. If that's you,
						simply put "Anonymous" in the name box.
					</li>
				</ol>
			</li>
			<li>
				Note what does &amp; doesn't go into the Content box:
				<ol>
					<li>
						At the top, you can do things like bold ('B') or italicize ('I') text.
						You can also add images (see the 3 little polaroid-looking things) or
						URLs - that is, if you have images to include, use this functionality,
						and you can put them wherever you want in your reflection.
					</li>
					<li>
						When you do include images, the image uploader allows you to choose
						between "thumb" and "original"; unless you want it small, choose
						"original".
					</li>
					<li>
						If you know html, there's a way to do that. If you don't, burn this
						comment.
					</li>
					<li>
						If you have a video, you should put it on youtube &amp; then use the
						boxes which say "add a new video" after the "about me".
					</li>
					<li>
						If you have a file (e.g., a nicely-laid-out pdf or mp3) which is an
						augmentation of your reflection, there is an "attachment" button at
						the end. Note, though, that images shouldn't go here, but up in the
						Content box.
					</li>
					<li>
						If you copy &amp; paste from Microsoft Word, you do so at your own
						risk. In general, the formatting doesn't copy over, so you'll lose
						italics, paragraph boundaries, etc. So, if you do copy &amp; paste,
						be sure to re-format.
					</li>
				</ol>
			</li>
			<li>
				When you're done, click on the "Save and Preview" button. Note that you
				can always go back and edit your reflection later, too.
			</li>
		</ol>
	</li>
	<li>
		At some point, I'll look at the reflection and see if it needs formatting
		assistance or is missing anything. (In general, I don't edit your content,
		but let the Spirit work through you without me interfering.) If you know
		you're having a problem, though, feel free to contact me.
	</li>
</ol>


<p>
	Let me know if you have any questions: <%= mail_to 'md7@indiana.edu' %>. Now,
	let's have a fantastic Lent!
</p>

<p>
	Markus
</p>
